<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="DefaultAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="C:\ProductionReport\Update_Log\UpdateLog.log"/>    <!--存放log路徑-->
    <staticLogFileName value="true"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p [%thread] %date{yyyy/MM/dd HH:mm:ss} %-20c{1} %-20M %m%n" />    <!--內容格式-->
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="DefaultAppender"/>
  </root>
</log4net>